<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="!recipeForm.valid" type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancelEdit()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label for="imagePath">Image Path</label>
          <input type="text" formControlName="imagePath" class="form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            formControlName="description"
            rows="5"
          ></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="
              let ingredientCtrl of ingredientsControls;
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="col-xs-8">
              <input type="text" formControlName="name" class="form-control" />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                formControlName="amount"
                class="form-control"
              />
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                (click)="onAddIngredient()"
                class="btn btn-success"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
